body{
	margin: 0;
	padding: 0;
	background: url(background2.jpg);
	background-sizer: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox{
	width: 300px;
	height: 330px;
	background: rgba(0,0,0,.9);
	color: #fff;
	top: 25%;
	left: 40%;
	position: absolute;
	transform: translate(-50%,-50%)
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	opacity: 1;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #12395B;
	color: #fff;
	font-size: 18px;
	border-radius: 20px
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #858B90;
	color: #000;
}


